<%inherit file="base.html" />

<%def name="content()">
<h1 id="title">Archives</h1>
        <%
            year = posts[0].year
            month = posts[0].month
        %>
        <ul id="years">
            <li class="year">
                <h2 class="year">${year}</h2>
                <ul class="months">
                    <li class="month">
                        <h3 class="month">${posts[0].month_name}</h3>
                        <ul class="days"> 
% for post in posts:
    % if post.year != year:
                        </ul> <!-- days -->
                    </li> <!-- month -->
                </ul> <!-- months -->
            </li> <!-- year -->
            <li class="year">
                <h2 class="year">${post.year}</h2><% year = post.year %>
                <ul class="months">
    % endif
    % if post.month != month:
        % if (post.month < month): ## the tags aren't closed by year
                        <% year = post.year %>
                        </ul> <!-- days -->
                    </li> <!-- month -->
        % endif
                    <li class="month"><% month = post.month %>
                        <h3 class="month">${post.month_name}</h3>
                        <ul class="days">
    % endif
                            <li class="day">
                                ${post.day} - <a href="${post.url}">${post.name}</a>
                            </li>
% endfor
                        </ul> <!-- days -->
                    </li> <!-- month -->
                </ul> <!-- months -->
            </li> <!-- year -->
        </ul> <!-- years -->
</%def>
 <%def name="title()">
    | Archive
</%def>
<%def name="xml()">
feed
</%def>
