body {
    padding: 0;
    text-align: justify;
    background-color: #606060; 
    margin: 1em 2em 0;
    font-family: sans-serif;
    overflow: auto;
    color: #606060;
}

a {
    color: #008800;
}
a.title, a.title:visited {
    margin: 0 -1em;
    font-weight: normal;
    font-size: 1.1em;
    float: right;
    color: #aaa;
}

h2 {
    margin: 2em 0 .5em;
}

h2 a {
    color: #005500;
}

a:visited, a:hover {
    color: #004400;
}
h3 {
    font-size: .8em;
    color: #225522;
    margin: 1em 0 1em;
}
pre {
    color: black;
    overflow: auto;
    padding: .7em;
    border: 1px groove #ddd;
    margin: .7em;
    background-color: #efe;
}

#header li {
    line-height: 1.6em;
}
#header a {
    padding: 0 1em 0 0;
    text-decoration: none;
    font-family: serif;
}
#header {
    margin: .5em 0 3em;
    text-align: left;
}
#links {
    text-align: right;
    padding: 0 1em ;
    font-size: .8em;
    width: 20%;
    float: right;
}
#container {
    width: auto;
    height: auto;
    line-height: 1.6em;
    font-size: .9em;
    background-color: white;
    padding: 2em 2em 0 4em;
    margin: 0 0 2em;
}
#content {
    padding: 0 3em 0 0;
    border-right: solid 2px #363;
    width: 70%;
    height: auto;
}

.post {
    padding-bottom: 4em;
}
#pyblee {
    margin: auto;
    color: #bcb;
    text-align: center;
}
#pyblee a {
    color: white;
}
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
code {
    font-family: monospace;
    border: solid 1px #ddd;
    background-color: #efe;
    padding: 2px;
}
