body {
    padding: 0;
    text-align: justify;
    background-color: #030; 
    margin: 0 2em 0;
    font-family: sans-serif;
    overflow: auto;
    color: #606060;
}

a {
    color: #008800;
}
a.title, a.title:visited {
    margin: 0 -1em;
    font-weight: normal;
    font-size: 1.1em;
    float: right;
    color: #aaa;
}

h2 {
    margin: 2em 0 .5em;
}

h2 a {
    color: #005500;
}

a:visited, a:hover {
    color: #004400;
}
h3 {
    font-size: .8em;
    color: #225522;
    margin-bottom: 1em;
}
pre {
    color: black;
    overflow: auto;
    padding: .7em;
    border: 1px groove #ddd;
    margin: .7em;
    background-color: #efe;
}

#header li {
    line-height: 1.6em;
}
#header {
    margin: .5em 0 3em;
    text-align: left;
}
#header a {
    padding: 0 1em 0 0;
    text-decoration: none;
    font-family: serif;
}

#content {
    line-height: 160%;
    font-size: .9em;
    border-top: groove 1em #050;
    background-color: white;
    padding: .5em 20em 2em 4em;
}

.post {
    padding-bottom: 4em;
}
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
